{{partial "navbar-admin-page"}}

<div class="container">
    <table class="table table-hover aggregate">
        {{#each aggregate in processed}}
        <tr>
            <td>
                <h4>{{aggregate.name}}</h4>
                <ul>
                    {{#each item in aggregate.items}}
                    <li>
                        {{#if aggregate.fullRender}}
                            <p><strong>Customer Name:</strong> {{item.customerName}}</p>
                        {{/if}}
                        <p>{{item.quantity}} <strong>{{item.name}}</strong></p>
                        <div>
                            <p class="indent-text">{{item.additionalRequests}}</p>
                            <p class="indent-text">{{item.itemOptions}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        {{/each}}
    </table>
    
</div>
