<nav class="navbar-home navbar navbar-default" role="navigation">
    <div class="container">
        <div class="header-info row">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">development@orderswyft.com</span>
            </div>
            <div class="navbar-float">
                <a href="https://www.facebook.com/orderswyft"><img src="images/facebook.png" height="20" width="20"></a>
                <img src="images/twitter.png" height="20" width="20">
            </div>
        </div>
        <div class="navbar-main row">
            <div class="navbar-header">
                <a class="navbar-brand-home navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
            </div>
        </div>
    </div>
</nav>

<div class="img-background container-fluid">
    <h1 class="background-title">Administration.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li class="active">Admin</li>
    </ul>
    <div class="list-group">
        <button class="grid-restaurant list-group-item" {{action 'goToExport'}}>
            <p class="click-through justify-left">Export</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToNewDelivery'}}>
            <p class="click-through justify-left">New Delivery</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToCompleteDelivery'}}>
            <p class="click-through justify-left">Complete Delivery</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToUsers'}}>
            <p class="click-through justify-left">Users</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToEditBalance'}}>
            <p class="click-through justify-left">New Transaction</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToTransactions'}}>
            <p class="click-through justify-left">Transactions</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToGlobalDeliveryNote'}}>
            <p class="click-through justify-left">Global Delivery Note</p>
        </button>
    </div>   
</div>
