{{partial "navbar-admin-modern"}}

<div class="admin-container">
    {{admin-navigation currentRoute=currentRoute}}

    <div class="admin-content">
        <div class="admin-content-container">
            <div class="admin-header-bar">
                <h1 class="admin-header">Dashboard</h1>
                <h4 class="admin-subtitle">Welcome to Swyft Admin</h4>
            </div>
            <div class="col-md-3">
                <div class="panel admin-content-box blue-light">
                    <div class="row">
                        <div>
                            <p class="admin-content-box-text">{{dashboardStats.orderCount}}</p>
                            <p class="admin-content-box-subtitle">Orders</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel admin-content-box purple-light">
                    <div class="row">
                        <div>
                            <p class="admin-content-box-text">{{dashboardStats.userCount}}</p>
                            <p class="admin-content-box-subtitle">Users</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel admin-content-box turquoise">
                    <div class="row">
                        <div>
                            <p class="admin-content-box-text">{{dashboardStats.deliveryCount}}</p>
                            <p class="admin-content-box-subtitle">Deliveries</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel admin-content-box purple-light">
                    <div class="row">
                        <div>
                            <p class="admin-content-box-text">{{dayOfWeek}}</p>
                            <p class="admin-content-box-subtitle">{{dateString}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel admin-panel admin-panel-fixed-height">
                    <div class="admin-panel-header-area">
                        <h1 class="admin-panel-header">Welcome</h1>
                    </div>
                    <div class="admin-panel-content">
                        <h1 class="admin-about-version">Swyft Epsilon 4.0.0 Alpha 3</h1>
                        <h4 class="admin-about-codename">Codename Icy Mustard</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel admin-panel admin-panel-fixed-height">
                    <div class="admin-panel-header-area">
                        <h1 class="admin-panel-header">Active Deliveries</h1>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Order Cutoff</th>
                                <th># of Orders</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each activeDeliveries as |delivery|}}
                            <tr>
                                <td>{{delivery.deliveryDate}}</td>
                                <td>{{delivery.orderCutoff}}</td>
                                <td>{{delivery.orderCount}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel admin-panel">
                    <div class="admin-panel-header-area">
                        <h1 class="admin-panel-header">Orders Per Night</h1>
                    </div>
                    {{chart-box data=ordersChart canvasId="orders-chart"}}
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="panel admin-panel">
                    <div class="admin-panel-header-area">
                        <h1 class="admin-panel-header">Revenue Per Night</h1>
                    </div>
                    {{chart-box data=revenueChart canvasId="revenue-chart"}}
                </div>
            </div>
        </div>
        
    </div>
</div>
