<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
    </div>
</nav>

<div class="container">
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Comments</th>
            <th>Total</th>
            <th>Delivery Location</th>
            <th>Contact Phone</th>
            <th>Payment Type</th>
            <th>Items</th>
        </tr>
        {{#each order in orders}}
        <tr>
            <td>{{order.user.firstName}}</td>
            <td>{{order.user.lastName}}</td>
            <td>{{order.userComments}}</td>
            <td>{{order.actualAmount}}</td>
            <td>{{order.deliveryLocation}}</td>
            <td>{{order.contactPhone}}</td>
            <td>{{order.paymentType}}</td>
            <td>
                <ul>
                    {{#each item in order.items}}
                    <li>
                        <div>
                            <p><strong>{{item.restaurant}}</strong></p>
                            <p>Name: {{item.name}}</p>
                            <p>Item Options: {{item.itemOptions}}</p>
                            <p>{{render-decimals item.price}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        {{/each}}
    </table>
    
</div>
