{{partial "navbar-admin-page"}}

<div class="container">
    {{filter-box filters=filters}}
    <table class="table table-hover master-sheet">
        <tr>
            <th>Name</th>
            <th>Items</th>
            <th>Total</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Payment</th>
            <th>Charge</th>
            <th>Region</th>
        </tr>
        {{#each masterItem in data.items}}
        <tr>
            <td>{{masterItem.name}}</td>
            <td>
                <ul>
                    {{#each item in masterItem.items}}
                    <li>
                        <p>{{item.quantity}} <strong>{{item.name}}</strong> {{item.itemComments}}</p>
                    </li>
                    {{/each}}
                </ul>
            </td>
            {{#if masterItem.deliveryNote.cashPayment}}
                <td>
                    <div>
                        <p>Cash: {{render-decimals masterItem.deliveryNote.cashPayment}}</p>
                        <p>Debit: {{render-subtract-numbers masterItem.deliveryNote.cashPayment masterItem.total}}</p>
                        <p>Total: {{render-decimals masterItem.total}}</p>
                    </div>
                </td>
            {{else}}
                <td>{{render-decimals masterItem.total}}</td>
            {{/if}}
            <td>{{masterItem.deliveryLocation}}</td>
            <td>{{masterItem.phoneNumber}}</td>
            <td>{{masterItem.paymentType}}</td>
            <td>{{masterItem.charge}}</td>
            <td>{{masterItem.region}}</td>
        </tr>
        {{/each}}
    </table>
    {{#unless filters}}
        <h3 class="master-sheet master-sheet-total">Total ${{data.deliveryTotal}}</h3>
    {{/unless}}
</div>
