{{partial "navbar-admin-page"}}

<div class="container">
    {{view "select" content=deliveryLocations value=deliveryLocation class="form-control" prompt="Select a Delivery Location"}}
    <h3>Not Delivered</h3>
    <table class="table table-hover master-sheet">
        <tr>
            <th>Name</th>
            <th>Items</th>
            <th>Total</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Payment</th>
            <th>Comments</th>
            <th>Charge</th>
        </tr>
        {{#each order in notDelivered}}
        <tr>
            <td>{{order.name}}</td>
            <td>
                <ul>
                    {{#each item in order.items}}
                    <li>
                        {{item.quantity}} <strong>{{item.name}}</strong>
                    </li>
                    {{/each}}
                </ul>
            </td>
            <td>{{render-decimals order.total}}</td>
            <td>{{order.deliveryLocation}}</td>
            <td>{{order.phoneNumber}}</td>
            <td>{{order.paymentType}}</td>
            <td>{{order.deliveryNote.comments}}</td>
            <td>{{order.charge}}</td>
        </tr>
        {{/each}}
    </table>
    <h3>Delivered</h3>
    <table class="table table-hover master-sheet">
        <tr>
            <th>Name</th>
            <th>Items</th>
            <th>Total</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Payment</th>
            <th>Comments</th>
            <th>Charge</th>
        </tr>
        {{#each order in delivered}}
        <tr>
            <td>{{order.name}}</td>
            <td>
                <ul>
                    {{#each item in order.items}}
                    <li>
                        {{item.quantity}} <strong>{{item.name}}</strong>
                    </li>
                    {{/each}}
                </ul>
            </td>
            <td>{{render-decimals order.total}}</td>
            <td>{{order.deliveryLocation}}</td>
            <td>{{order.phoneNumber}}</td>
            <td>{{order.paymentType}}</td>
            <td>{{order.deliveryNote.comments}}</td>
            <td>{{order.charge}}</td>
        </tr>
        {{/each}}
    </table>
</div>
