{{partial "navbar-admin"}}

<div class="img-background container-fluid"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">Transactions</li>
    </ul>
    <table class="table table-hover">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Comments</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Created</th>
            <th>Created By</th>
        </tr>
        {{#each transaction in transactions}}
        <tr>
            <td>{{transaction.user.firstName}}</td>
            <td>{{transaction.user.lastName}}</td>
            <td>{{transaction.comments}}</td>
            <td>{{render-decimals transaction.amount}}</td>
            <td>{{transaction.type}}</td>
            <td>{{transaction.displayDate}}</td>
            <td>{{transaction.transactionCreator}}</td>
        </tr>
        {{/each}}
    </table>
</div>
