{{partial "navbar-admin-modern"}}

{{confirmation-dialog body=dialogBody title=dialogTitle displayDialog=displayDialog accept="accept" cancel="cancel"}}

{{modal-dialog body=modalBody title=modalTitle displayModal=modalDisplay}}

<div class="admin-container">
    {{admin-navigation currentRoute=currentRoute}}

    <div class="admin-content">
        <div class="admin-content-container">
            <div class="admin-header-bar">
                <h1 class="admin-header">New Balance Transaction</h1>
                <h4 class="admin-subtitle">Add a new User Transaction. The user's balance will be automatically updated.</h4>
                <h4 class="admin-help">You can look up User ID's from the Users page of Swyft Admin. To add balance to a user's account, enter a positive transaction amount, to deduct balance, enter a negative balance.</h4>
            </div>
            <div class="panel admin-panel">
                <div class="admin-panel-header-area">
                    <h1 class="admin-panel-header">Form</h1>
                </div>
                {{input class="form-control" value=data.userId type="text" placeholder="User ID"}}
                {{input class="form-control" value=data.comments type="text" placeholder="Comments"}}
                {{input class="form-control" value=data.amount type="number" placeholder="Transaction Amount"}}
                <button class="btn btn-light btn-standard" {{action 'submit'}}>Submit</button>
            </div>          
        </div>
    </div>
</div>