{{partial "navbar-admin-page"}}

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">Export</li>
    </ul>
    <div class="list-group">
        {{#each delivery in deliveryList}}
            <div class="row">
                <h3 class="header-margin">{{delivery.displayTime}}</h2>
                <button class="grid-restaurant list-group-item" {{action 'goToExport' delivery.id}}>
                    <p class="click-through justify-left">Export</p>
                </button>
                <button class="grid-restaurant list-group-item" {{action 'goToAggregate' delivery.id}}>
                    <p class="click-through justify-left">Aggregate</p>
                </button>
                <button class="grid-restaurant list-group-item" {{action 'goToMaster' delivery.id}}>
                    <p class="click-through justify-left">Master</p>
                </button>
                <button class="grid-restaurant list-group-item" {{action 'goToDelivery' delivery.id}}>
                    <p class="click-through justify-left">Delivery</p>
                </button>
                <button class="grid-restaurant list-group-item" {{action 'goToManage' delivery.id}}>
                    <p class="click-through justify-left">Manage</p>
                </button>
            </div>
        {{else}}
            <h1>Nope. Nothing to see here.</h1>
            <h5>There are no deliveries to show.</h5>
        {{/each}}
    </div>       
</div>
