{{partial "navbar-admin-modern"}}

<div class="admin-container">
    {{admin-navigation currentRoute=currentRoute}}

    <div class="admin-content">
        <div class="container">
            <div class="admin-header-bar">
                <h1 class="admin-header">Export Delivery</h1>
                <h4 class="admin-subtitle">Orders sorted by delivered and not delivered.</h4>
            </div>
            <div class="admin-content-margin">
                {{select-menu action=(action (mut deliveryLocation)) content=deliveryLocations selection=deliveryLocation inputClass="form-control" prompt="Select a Delivery Location"}}
                <h3>Not Delivered</h3>
                <div class="table-responsive">
                    <table class="table table-hover master-sheet">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Items</th>
                            <th>Total</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Payment</th>
                            <th>Comments</th>
                            <th>Charge</th>
                        </tr>
                        {{#each notDelivered as |order|}}
                        <tr>
                            <td>{{order.name}}</td>
                            <td>
                                <ul>
                                    {{#each order.items as |item|}}
                                    <li>
                                        {{item.quantity}} <strong>{{item.name}}</strong>
                                    </li>
                                    {{/each}}
                                </ul>
                            </td>
                            <td>{{format-currency order.total}}</td>
                            <td>{{order.deliveryLocation}}</td>
                            <td>{{order.phoneNumber}}</td>
                            <td>{{order.paymentType}}</td>
                            <td>{{order.deliveryNote.comments}}</td>
                            <td>{{order.charge}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <h3>Delivered</h3>
                <div class="table-responsive">
                    <table class="table table-hover master-sheet">
                        <tr>
                            <th>Name</th>
                            <th>Items</th>
                            <th>Total</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Payment</th>
                            <th>Comments</th>
                            <th>Charge</th>
                        </tr>
                        {{#each delivered as |order|}}
                        <tr>
                            <td>{{order.name}}</td>
                            <td>
                                <ul>
                                    {{#each order.items as |item|}}
                                    <li>
                                        {{item.quantity}} <strong>{{item.name}}</strong>
                                    </li>
                                    {{/each}}
                                </ul>
                            </td>
                            <td>{{format-currency order.total}}</td>
                            <td>{{order.deliveryLocation}}</td>
                            <td>{{order.phoneNumber}}</td>
                            <td>{{order.paymentType}}</td>
                            <td>{{order.deliveryNote.comments}}</td>
                            <td>{{order.charge}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>