<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
    </div>
</nav>

<div class="img-background container-fluid"></div>

{{modal-dialog body=modalBody title=modalTitle displayModal=displayModal}}

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">New Delivery</li>
    </ul>
    <div class="info-well well">
        <h1>New Delivery</h1>
        {{input class="form-control" value=deliveryTime type="text" placeholder="Delivery Time (mm/dd/yy hh:dd:ss)"}}
        {{input class="form-control" value=comments type="text" placeholder="Comments"}}
        {{input class="form-control" value=deliverers type="text" placeholder="Deliverers"}}
        {{input class="form-control" value=orderCutoff type="text" placeholder="Order Cutoff (mm/dd/yy hh:dd:ss)"}}
        <button class="btn btn-default btn-standard" {{action 'submit'}}>Submit</button>
    </div>   
</div>
