{{partial "navbar-admin-modern"}}

<div class="admin-container">
    {{admin-navigation currentRoute=currentRoute}}

    <div class="admin-content">
        <div class="container">
            <div class="admin-header-bar">
                <h1 class="admin-header">Complete Delivery</h1>
                <h4 class="admin-subtitle">Set all orders within a delivery to delivered.</h4>
            </div>
            <div class="panel admin-panel">
                <div class="admin-panel-header-area">
                    <h1 class="admin-panel-header">Form</h1>
                </div>
                <div class="admin-panel-content">
                    <div class="list-group">
                        {{#each deliveryList as |delivery|}}
                            <label class="list-group-item">{{radio-button name="deliveries" selected=deliveryList.value class="option" value=delivery.id}}<span class="option-text">{{delivery.displayTime}}</span></label>
                        {{/each}}
                    </div>   
                    <button class="btn btn-light" {{action 'submit'}}>Submit</button>
                </div>
            </div>   
        </div>
    </div>
</div>
