<nav class="navbar-home navbar navbar-default" role="navigation">
    <div class="container">
        <div class="header-info row">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">development@orderswyft.com</span>
            </div>
            <div class="navbar-float">
                <a href="https://www.facebook.com/orderswyft"><img src="images/facebook.png" height="20" width="20"></a>
                <img src="images/twitter.png" height="20" width="20">
            </div>
        </div>
        <div class="navbar-main row">
            <div class="navbar-header">
                <a class="navbar-brand-home navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
            </div>
        </div>
    </div>
</nav>

<div class="img-background container-fluid"></div>

{{modal-dialog body=modalBody title=modalTitle displayModal=displayModal}}

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">New Delivery</li>
    </ul>
    <div class="info-well well">
        <h1>New Delivery</h1>
        {{input class="form-control" value=deliveryTime type="text" placeholder="Delivery Time (mm/dd/yy hh:dd:ss)"}}
        {{input class="form-control" value=comments type="text" placeholder="Comments"}}
        {{input class="form-control" value=deliverers type="text" placeholder="Deliverers"}}
        {{input class="form-control" value=orderCutoff type="text" placeholder="Order Cutoff (mm/dd/yy hh:dd:ss)"}}
        <button class="btn btn-default btn-standard" {{action 'submit'}}>Submit</button>
    </div>   
</div>
