<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT<span class="logo-light">ADMIN</span></a>
    </div>
</nav>

<div class="img-background container-fluid">
    <h1 class="background-title">Administration.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li class="active">Admin</li>
    </ul>
    <div class="list-group">
        <button class="grid-restaurant list-group-item" {{action 'goToExport'}}>
            <p class="click-through justify-left">Export</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToNewDelivery'}}>
            <p class="click-through justify-left">New Delivery</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToCompleteDelivery'}}>
            <p class="click-through justify-left">Complete Delivery</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToUsers'}}>
            <p class="click-through justify-left">Users</p>
        </button>
        <button class="grid-restaurant list-group-item" {{action 'goToEditBalance'}}>
            <p class="click-through justify-left">New Transaction</p>
        </button>
    </div>   
</div>
