{{partial "navbar-admin"}}

<div class="img-background container-fluid"></div>

{{confirmation-dialog body=dialogBody title=dialogTitle displayDialog=displayDialog accept="accept" cancel="cancel"}}

{{modal-dialog body=modalBody title=modalTitle displayModal=displayModal}}

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
        <li class="active">New Transaction</li>
    </ul>
    <div class="info-well well">
        <h1>New Transaction</h1>
        {{input class="form-control" value=userId type="text" placeholder="User ID"}}
        {{input class="form-control" value=comments type="text" placeholder="Comments"}}
        {{input class="form-control" value=transactionAmount type="number" placeholder="Transaction Amount"}}
        <button class="btn btn-default btn-standard" {{action 'submit'}}>Submit</button>
    </div>
</div>
