{{partial "navbar-admin-modern"}}

<div class="admin-container">
    {{admin-navigation currentRoute=currentRoute}}

    <div class="admin-content">
        <div class="container">
            <div class="admin-header-bar">
                <h1 class="admin-header">Current Delivery</h1>
                <h4 class="admin-subtitle">View orders in current delivery.</h4>
            </div>
            <div class="panel admin-panel">
                <div class="admin-panel-header-area">
                    <h1 class="admin-panel-header">Form</h1>
                </div>
                <div>
                    <h1>{{order.user.firstName}} {{order.user.lastName}}</h1>
                    <h3>{{order.deliveryLocation}}</h3>
                    <h3><a href={{order.phoneLink}}>{{order.contactPhone}}</a></h3>
                    <h3>{{order.userComments}}</h3>
                    <h3>{{format-currency order.actualAmount}}</h3>
                    {{#if order.deliveryNote.cashPayment}}
                    <h3><strong>{{format-currency order.deliveryNote.cashPayment}}</strong> needs to be paid for this mixed transaction.</h3>
                    {{/if}}
                    <h3>{{order.paymentType}}</h3>
                    <ul class="item-list">
                        {{#each order.items as |item|}}
                        <li>
                            <div>
                                <p><strong>{{item.restaurant}}</strong></p>
                                <p>Name: {{item.name}}</p>
                                <p>Item Options: {{item.itemOptions}}</p>
                                <p>Requests: {{item.additionalRequests}}</p>
                                <p>Quantity: {{item.quantity}}</p>
                                <p>{{format-currency item.price}}</p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <h2>Deliverer Comments:</h2>
                    {{textarea class="form-control text-area" value=order.deliveryNote.comments}}
                    <button class="btn btn-light" {{action 'submitComments'}}>Submit Comments</button>
                    {{#if order.deliveryNote.isDelivered}} 
                    <button class="btn btn-light" {{action 'submitNotDelivered'}}>Set To Not Delivered</button>
                    {{else}}
                    <button class="btn btn-light" {{action 'submitDelivered'}}>Set To Delivered</button>
                    {{/if}}
                </div>
            </div>   
        </div>
    </div>
</div>