<nav class="navbar navbar-order navbar-default" role="navigation">
    <div class="header-bar row">
        <div class="header-info container">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-earphone"></i>
                <span class="header-item-text">646-84-SWYFT</span>

            </div>
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">help@orderswyft.com</span>
            </div>
        </div>
    </div>
    <div class="navbar-container-order container">
        <a class="navbar-brand" href="/">ORDER<span class="logo-light">SWYFT</span></a>
    </div>
</nav>

{{modal-dialog body=modalBody title=modalTitle displayModal=displayModal}}

{{#animate-body}}
<div class="img-background container-fluid">
    <h1 class="background-title">Checkout.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'restaurants'}}Restaurants{{/link-to}}</a></li>
        <li class="active">Checkout</li>
    </ul>
    <form>
        <div class="info-well well">
            <h3 class="item-price">Total: {{render-decimals-simple totalPrice}}</h3>
            <h3>Account Balance: {{render-decimals-simple user.balance}}</h3>
            {{#unless user.balance}}
                <p class="sub-heading">You can add change to your Swyft Debit account on delivery. You can now also use your LionCard to add balance to Swyft Debit by visiting us in Agora during Meetings (on specific days).</p>
            {{/unless}}
            <h3>Payment Options</h3>
            <div class="option-group">
                <div class="list-group">
                    {{#each paymentOption in paymentOptions}}
                    <a class="list-group-item">{{radio-button name=paymentOptions.value class="option" value=paymentOption.id}}<span class="option-text">{{paymentOption.name}}</span></a>
                    {{/each}}
                </div>   
            </div>
            <p class="sub-heading-fix">If you would like to pay with a combination of cash and Swyft Debit, select Cash and tell your delivery personnel how much you want to spend from your account.</p>
            <h3>Options</h3>
            {{input class="form-control" value=user.dormitory type="text" placeholder="Delivery Location"}}
            {{input class="form-control" value=user.phoneNumber type="text" placeholder="Phone Number"}}
            {{input class="form-control" value=additionalRequests type="text" placeholder="Additional Requests"}}
            <p class="sub-heading">If you're paying with a 50 or 100 dollar bill, let us know so that we can get you the right amount of change. Please do not place any specific item customization requests here, as we cannot guarantee they will be fullfilled.</p>
            <h3>When do you want your food?</h3>
            <div class="option-group">
                <div class="list-group">
                    {{#each delivery in deliveryList}}
                    <a class="list-group-item">{{radio-button name=deliveryList.value class="option" value=delivery.id}}<span class="option-text">{{delivery.displayTime}} &nbsp;|&nbsp; <span class="light-text">Order Cutoff: {{delivery.displayCutoff}}</span></span></a>
                    {{else}}
                    <h3 class="error-text">Our deliveries are closed for the day. Check our homepage to see when we deliver.</h3>
                    {{/each}}
                </div>            
            </div>
            {{#if deliveryList}}
                {{#unless buttonPressed}}
                    <button class="btn btn-default" type="submit" {{action 'checkout'}}>Checkout</button>       
                {{/unless}}
            {{/if}}
        </div>  
    </form>
</div>
{{/animate-body}}
