{{partial "navbar-standard"}}

<div class="img-background container-fluid">
    <h1 class="background-title">Delivery.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'delivery'}}Delivery{{/link-to}}</a></li>
        <li class="active">Order</li>
    </ul>
    <div class="info-well well">
        <h4>For assistance, please contact Operations at <a href="tel:603-793-7333">603-793-7333</a></h4>
        <h1>{{order.user.firstName}} {{order.user.lastName}}</h1>
        <h3>{{order.deliveryLocation}}</h3>
        <h3><a {{bind-attr href=order.phoneLink}}>{{order.contactPhone}}</a></h3>
        <h3>{{order.userComments}}</h3>
        <h3>{{render-decimals order.actualAmount}}</h3>
        {{#if order.deliveryNote.cashPayment}}
            <h3><strong>{{render-decimals order.deliveryNote.cashPayment}}</strong> needs to be paid for this mixed transaction.</h3>
        {{/if}}
        <h3>{{order.paymentType}}</h3>
        <ul class="item-list">
            {{#each item in order.items}}
            <li>
                <div>
                    <p><strong>{{item.restaurant}}</strong></p>
                    <p>Name: {{item.name}}</p>
                    <p>Item Options: {{item.itemOptions}}</p>
                    <p>Requests: {{item.additionalRequests}}</p>
                    <p>Quantity: {{item.quantity}}</p>
                    <p>{{render-decimals item.price}}</p>
                </div>
            </li>
            {{/each}}
        </ul>
        <h2>Deliverer Comments:</h2>
        {{textarea class="form-control text-area" value=order.deliveryNote.comments}}
        <button class="btn btn-primary btn-standard" {{action 'submitComments'}}>Submit Comments</button>
        {{#if order.deliveryNote.isDelivered}} 
            <button class="btn btn-primary btn-standard" {{action 'submitNotDelivered'}}>Set To Not Delivered</button>
        {{else}}
            <button class="btn btn-primary btn-standard" {{action 'submitDelivered'}}>Set To Delivered</button>
        {{/if}}
    </div>
</div>
