{{partial "navbar-standard"}}

<div class="img-background container">
    <h1 class="background-title">delivery</h1>
</div>

<div class="app-content">
    <div class="container">
    <h4>For assistance, please contact Operations at <a href="tel:603-793-7333">603-793-7333</a></h4>
    <div class="delivery-note">
        <pre>{{deliveryNote.value}}</pre>
    </div>
    <div class="grid-products list-group">
        {{#each orders as |order|}}
        <button class="grid-product list-group-item" {{action 'goToOrder' order}}>
            <div class="click-through">
                <h4 class="grid-product-title">{{order.user.firstName}} {{order.user.lastName}}</h4>
                <span class="grid-product-price">{{order.deliveryLocation}}</span>
                <br>
                <span class="grid-product-price">{{format-currency order.actualAmount}} {{order.paymentType}}</span>
            </div>
        </button>
        {{/each}}
    </div>
</div>

</div>
