<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <a class="navbar-brand" href="/">SWYFT<span class="logo-light">DELIVERY</span></a>
    </div>
</nav>

<div class="img-background container-fluid">
    <h1 class="background-title">Delivery.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'delivery'}}Delivery{{/link-to}}</a></li>
        <li class="active">Order</li>
    </ul>
    <div class="info-well well">
        <h1>{{order.user.firstName}} {{order.user.lastName}}</h1>
        <h3>{{order.deliveryLocation}}</h3>
        <h3>{{order.contactPhone}}</h3>
        <h3>{{order.userComments}}</h3>
        <h3>{{render-decimals order.actualAmount}}</h3>
        <h3>{{order.paymentType}}</h3>
        <ul class="item-list">
            {{#each item in order.items}}
            <li>
                <div>
                    <p><strong>{{item.restaurant}}</strong></p>
                    <p>Name: {{item.name}}</p>
                    <p>Item Options: {{item.itemOptions}}</p>
                    <p>{{render-decimals item.price}}</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
