<nav class="navbar-home navbar navbar-default" role="navigation">
    <div class="container">
        <div class="header-info row">
            <div class="header-item">
                <i class="icon glyphicon glyphicon-envelope"></i>
                <span class="header-item-text">development@orderswyft.com</span>
            </div>
            <div class="navbar-float">
                <a href="https://www.facebook.com/orderswyft"><img src="images/facebook.png" height="20" width="20"></a>
                <img src="images/twitter.png" height="20" width="20">
            </div>
        </div>
        <div class="navbar-main row">
            <div class="navbar-header">
                <a class="navbar-brand-home navbar-brand" href="/">SWYFT<span class="logo-light">DELIVERY</span></a>
            </div>
        </div>
    </div>
</nav>

<div class="img-background container-fluid">
    <h1 class="background-title">Delivery.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li class="active">Delivery</li>
    </ul>
    <h4>For assistance, please contact Operations at <a href="tel:603-793-7333">603-793-7333</a></h4>
    <div class="delivery-note">
        <pre>{{deliveryNote.value}}</pre>
    </div>
    <div class="grid-products list-group">
        {{#each order in orders}}
        <button class="grid-product list-group-item" {{action 'goToOrder' order}}>
            <div class="click-through">
                <h4 class="grid-product-title">{{order.user.firstName}} {{order.user.lastName}}</h4>
                <span class="grid-product-price">{{order.deliveryLocation}}</span>
                <br>
                <span class="grid-product-price">{{render-decimals order.actualAmount}} {{order.paymentType}}</span>
            </div>
        </button>
        {{/each}}
    </div>
</div>
