<nav class="navbar-transparent navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-main-transparent row">
            <div class="navbar-header">
                <a class="navbar-brand-transparent" href="/">SWYFT</a>
            </div>
            <div class="navbar-float navbar-float-margin">
                <button class="btn btn-shadow order-button" {{action 'order'}}>ORDER</button>
            </div>
        </div>
    </div>
</nav>

{{#animate-body animateDelay=delay}}
<div class="row row-one">
    <div class="container-fluid">
        <div class="row-one-text">
            <h1 class="welcome-text-temporary">WE'RE IN MAINTANENCE MODE.</h2>
            <h2 class="sub-promo-text-temporary">ANYTHING YOU DO FROM NOW UNTIL THE FALL WILL BE RESET.</h3>
            <div class="promo-group list-group">
                {{#unless isAuthenticated}}
                <button class="btn list-group-item promo-button" {{action 'signUp'}}>SIGN UP</button>
                {{/unless}}
                <button class="btn list-group-item promo-button" {{action 'learnMore'}}>LEARN MORE</button>
            </div>        
        </div>
    </div>
</div>

<div class="container-two">
    <div class="container">
        <div class="row row-two">
            <div class="col-xs-12 col-md-4">
                <h4 class="section-header">News.</h4>
                <h2 class="news-text">{{news}}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4 class="section-header">When Can I Order?</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Order Cutoff</th>
                            <th>Delivery Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wednesday</td>
                            <td>6:15 pm</td>
                            <td>7:30 pm</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>7:15 pm</td>
                            <td>8:30 pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4 class="section-header">Quick Links.</h4>
                {{#unless isAuthenticated}}
                <button class="btn-quick-link" {{action 'login'}}>LOGIN</button>
                {{/unless}}
                <button class="btn-quick-link" {{action 'faq'}}>FAQ</button>
            </div>
        </div>
    </div>
</div>

<div class="image-scroller"></div>

<div class="row row-three">
    <div class="container">
        <h1 class="row-four-text">We're a <span class="highlight">student-run</span> business at Phillips Exeter Academy.</h1>
        <h2 class="row-three-text">WE PROVIDE STUDENTS A REAL-WORLD ENVIRONMENT TO REALIZE THEIR PASSIONS.</h2>
    </div>
</div>

<div class="swyft-footer-container">
    <div class="container swyft-footer">
        <p class="footer-item">DESIGNED BY BHARAT ARIMILLI</p>
        <a class="footer-item" {{action 'terms'}}>TERMS & CONDITIONS</a>
        <a class="footer-item" {{action 'contactUs'}}>CONTACT US</a>
        <p class="footer-item">IMAGE COURTESY OF STEVEN KIM</p>
    </div>
</div>

{{/animate-body}}