{{partial "navbar-order"}}

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

{{modal-dialog body=modalBody title=modalTitle displayModal=displayModal}}

{{#animate-body}}
<div class="img-background container-fluid"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'restaurants'}}Restaurants{{/link-to}}</a></li>
        <li><a>{{#link-to 'menu-items' item.restaurant}}Menu{{/link-to}}</a></li>
        <li class="active">{{item.name}}</li>
    </ul>
    <form>
        <div class="info-well well">
            <h1 class="item-title">{{item.name}}</h1>
            {{#if item.description}}
                <h3 class="item-description">{{item.description}}</h3>
            {{/if}}
            <h3 class="item-price">{{render-decimals item.baseprice}}</h3>
            <hr>
            {{#each optionGroup in item.itemOptions}}
            <div class="option-group">
                <h2 class="option-group-header">{{optionGroup.name}} <span class="required-header">Required</span></h2>
                <div class="list-group">
                    {{#each option in optionGroup.options}}
                    <!--Use label instead of anchor to increase target space-->
                    <a class="list-group-item">{{radio-button name=optionGroup.value class="option" value=option}}<span class="option-text">{{option.name}}</span><span class="badge">{{#if option.price}}{{render-decimals option.price}}{{/if}}</span></a>
                    {{/each}}
                </div>            
            </div>
            {{/each}}

            {{#if item.standardOptions}}
            <h2 class="option-group-header">Options</h2>
            <div class="list-group">
                {{#each option in item.standardOptions}}
                <a class="list-group-item">{{input checked=option.isSelected class="option" type="checkbox"}}<span class="option-text">{{option.name}}</span><span class="badge">{{#if option.price}}{{render-decimals option.price}}{{/if}}</span></a>
                {{/each}}
            </div>
            {{/if}}

            {{#if item.extras}}
            <h2 class="option-group-header">Extras</h2>
            <div class="list-group">
                {{#each extra in item.extras}}
                <a class="list-group-item">{{input class="option" type="checkbox" checked=extra.isSelected}}<span class="option-text">{{extra.name}}</span><span class="badge">{{render-decimals extra.price}}</span></a>
                {{/each}}
            </div>
            {{/if}}
            
            {{#if item.attachedRequests}}
                {{#each request in item.attachedRequests}}
                    {{attached-request request=request item=item}}
                {{/each}}
            {{/if}}
            
            {{input class="form-control" value=item.additionalRequests type="text" placeholder="Additional Requests"}}
            
            {{#if item.note}}
                <p class="sub-heading">{{item.note}}</p>
            {{/if}}
            
            <button class="btn btn-default btn-standard" type="submit" {{action 'addToCart'}}>Add to Cart</button>        
        </div>  
    </form>
</div>
{{/animate-body}}
