{{partial "navbar-standard"}}

{{#animate-body}} 
<div class="container">
    <div class="col-md-6 login-block">
        <h1 class="background-title">login</h1>
        <h3 class="background-subtitle">Login to your Swyft Account</h3>
    </div>
    <form class="login-form col-md-6" {{action 'login' on='submit'}}>
        <fieldset>
                {{#if loginError}}
                <div class="alert alert-dismissable alert-danger">
                    <button class="close" type="button" {{action 'close'}}>×</button>
                    <strong>Oh snap!</strong> We didn't recognize your username and password. Please try again. Make sure you've verified your account.
                </div>
                {{/if}}
                <div>
                    {{input class="form-control" value=username type="text" placeholder="Email"}}
                    {{input class="form-control" value=password type="password" placeholder="Password"}}
                </div>
                <ul class="quick-link-container">
                    <li><a class="quick-link" href="#" {{action 'signUp'}}>Sign Up</a></li>
                    <li><a class="quick-link" href="#" {{action 'forgotPassword'}}>Forgot Password</a></li>
                    <li><a class="quick-link" href="#" {{action 'resend'}}>Resend Verification</a></li>
                </ul>
                <button class="btn btn-default btn-pill btn-float-fix" type="submit">LOGIN</button>
        </fieldset>
    </form>   
</div>
{{/animate-body}} 
{{partial 'footer'}}