{{navbar-order-search value=searchValue searchVisible=searchVisible}}

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

{{#animate-body}}
<div class="img-background container">
    <h1 class="background-title">{{restaurant.title}}</h1>
    <h3 class="background-subtitle">{{restaurant.subtitle}}</h3>
</div>

<div class="app-content app-content-no-padding">
    <div class="container">
        {{#if restaurant.notice}}
        <p class="notice-header">NOTICE</p>
        <p class="restaurant-notice">{{restaurant.notice}}</p>
        <hr class="notice-divider">
        {{/if}}

        <div id="sorted-items">
            {{#each sortedCategories as |category|}}
            <div class="grid-products list-group row">
                <div class="category-box">
                    <h3 class="category-name">{{category.name}}</h3>
                </div>
                {{#each category.items as |item|}}
                <button class="grid-product list-group-item" {{action 'transition' item.id}}>
                    <div class="click-through">
                        <h4 class="grid-product-title">{{item.name}}</h4>
                        <br>
                        <span class="grid-product-price">{{format-currency item.baseprice simple="true"}}</span>
                    </div>
                </button>
                {{/each}}     
            </div> 
            {{/each}}
        </div>
        
        <div id="all-items" class="div-invisible">
            {{#each filteredItems as |item|}}
            <button class="grid-product list-group-item" {{action 'transition' item.id}}>
                <div class="click-through">
                    <h4 class="grid-product-title">{{item.name}}</h4>
                    <br>
                    <span class="grid-product-price">{{format-currency item.baseprice simple="true"}}</span>
                </div>
            </button>
            {{else}}
                <h1 class="no-results">We have no results to show.</h1>
            {{/each}}     
        </div>
    </div>
</div>
{{/animate-body}}
{{partial "footer"}}