<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header">
            {{view 'navbar-toggle'}}
        </div>
        <a class="navbar-brand" href="/">ORDER<span class="logo-light">SWYFT</span></a>
    </div>
</nav>

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

<div class="img-background container-fluid">
    <h1 class="background-title">Menu.</h1>
</div>

<div class="container">
    <ul class="breadcrumb">
        <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
        <li><a>{{#link-to 'restaurants'}}Restaurants{{/link-to}}</a></li>
        <li class="active">Menu</li>
    </ul>
    
    {{#each category in sortedCategories}}
    <div class="grid-products list-group row">
        <div class="category-box">
            <h3 class="category-name">{{category.name}}</h3>
        </div>
        {{#each item in category.items}}
        <button class="grid-product list-group-item" {{action 'transition' menuItem.id}}>
            <div class="click-through">
                <h4 class="grid-product-title">{{item.name}}</h4>
                <br>
                <span class="grid-product-price">{{render-decimals item.baseprice}}</span>
            </div>
        </button>
        {{/each}}     
    </div> 
    {{/each}}
</div>
