{{navbar-order-nav goBack='goBack'}}

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated hideProfile=true}}

{{modal-dialog body=modalBody title=modalTitle displayModal=displayInfoModal}}

{{#modal-dialog-dynamic title=modalTitle displayModal=displayModal}}
<ul class="no-list">
    {{#each processedOrder.items as |item|}}
    <li>
        <div>
            <p><strong>{{item.restaurant}}</strong></p>
            <p>Name: {{item.name}}</p>
            {{#if item.itemOptions}}
                <p>Item Options: {{item.itemOptions}}</p>
            {{/if}}
            {{#if item.additionalRequests}}
                <p>Requests: {{item.additionalRequests}}</p>
            {{/if}}
            {{#if item.quantity}}
                <p>Quantity: {{item.quantity}}</p>
            {{/if}}
            <p>{{format-currency item.price}}</p>
        </div>
    </li>
    {{/each}}
</ul>
{{/modal-dialog-dynamic}}

{{#animate-body}}
<div class="img-background container">
    <h1 class="background-title">profile</h1>
    <h3 class="background-subtitle">View your order history</h3>
</div>

<div class="app-content">
    <div class="container">
        <form>
            <div class="info-well well">
                <h2 class="name-header">{{user.firstName}} {{user.lastName}}</h2>
                <h4 class="balance">Balance: {{format-currency user.balance}}</h4>
                {{#if pending}}
                <div class="option-group">
                    <h2 class="small-header">Pending Orders</h2>
                    <div class="list-group">
                        {{#each pending as |order|}}
                        <a class="list-group-item" href="#" {{action 'openModal' order}}><span class="option-text">{{order.displayTime}}</span><span class="badge">{{#if order.actualAmount}}{{format-currency order.actualAmount}}{{/if}}</span></a>
                        {{/each}}
                    </div>            
                </div>
                {{/if}}
                <div class="option-group">
                    <h2 class="small-header">Recent Orders</h2>
                    <div class="list-group">
                        {{#each orders as |order|}}
                        <a class="list-group-item" href="#" {{action 'openModal' order}}><span class="option-text">{{order.displayTime}}</span><span class="badge">{{#if order.actualAmount}}{{format-currency order.actualAmount}}{{/if}}</span></a>
                        {{/each}}
                    </div>            
                </div>
                <label class="checkbox-label checkbox-margin">
                    {{input class="checkbox-control" checked=user.contactConsent type="checkbox"}} It's okay to contact me about promotions and new product offerings.
                </label>
                <br/>
                <button class="btn btn-default" {{action 'setContactConsent'}}>Update</button>
                <p class="profile-sub-heading sub-heading">If you want to change any other details of your account such as your default delivery location, you'll need to contact us.</p>
            </div>  
        </form>
    </div>
</div>

{{/animate-body}}
