<nav class="navbar navbar-default navbar-no-shadow" role="navigation">
    <div class="container-fluid">
        <div class="top-bar"></div>
        <div class="navbar-header"></div>
        <a class="navbar-brand" href="/">SWYFT</a>
    </div>
</nav>

<div class="container">
    <form class="login-form" {{action 'submit' on='submit'}}>
        <fieldset>
            <h2 class="centered-text">Reset Password</h2>
            {{#if error}}
            <div class="alert alert-dismissable alert-danger">
                <button class="close" type="button" {{action 'close'}}>×</button>
                <strong>Oh snap!</strong> Something went wrong there. Make sure your passwords are between 6 and 20 characters long.
            </div>
            {{/if}}
            {{#if success}}
                <div class="alert alert-success">
                    <strong>Great!</strong> Your password has been reset.
                </div>
            {{/if}}
            <div>
                {{input class="form-control" value=username type="text" placeholder="Email"}}
                <input id="password" class="form-control" {{bind-attr value=password}} type="password" placeholder="Password (Between 6 and 20 characters)" />
                <input id="confirmPassword" class="form-control" {{bind-attr value=confirmPassword}} type="password" placeholder="Confirm Password" />
            </div>
            <button class="btn btn-default btn-float" type="submit">SUBMIT</button>
        </fieldset>
    </form>
</div>
