{{partial "navbar-standard"}}

{{#animate-body}} 
<div class="container">
    <form class="login-form" {{action 'sendVerification' on='submit'}}>
        <fieldset>
            <h2 class="centered-text">Resend Verification Email</h2>
            <h5 class="centered-text">Before you request another verification email, check to see if your original verification email went to spam.</h5>
            {{#if verifyError}}
            <div class="alert alert-dismissable alert-danger">
                <button class="close" type="button" {{action 'close'}}>×</button>
                <strong>Oh snap!</strong> Something went wrong with your request. Check that you entered the correct username and password. Otherwise, you might already be verified (try logging in to see if this is the case).
            </div>
            {{/if}}
            {{#if verifySuccess}}
                <div class="alert alert-success">
                    <strong>Great!</strong> We just sent you another verification email.
                </div>
            {{/if}}
            <div>
                {{input class="form-control" value=username type="text" placeholder="Exeter Email"}}
                {{input class="form-control" value=password type="password" placeholder="Password"}}
            </div>
            <button class="btn btn-light" style="float:right;margin-top:10px;" type="submit">SUBMIT</button>
        </fieldset>
    </form>
</div>
{{/animate-body}}
