{{#if property.editable}}
    {{#if typeString}}
        {{#if property.advancedField}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{property.displayName}}</label>
                <div class="col-sm-9">
                    {{input class="form-control admin-discourage" value=property.value type="text"}}
                </div>
            </div>
        {{else}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{property.displayName}}</label>
                <div class="col-sm-9">
                    {{input class="form-control" value=property.value type="text"}}
                </div>
            </div>
        {{/if}}
    {{/if}}

    {{#if typeNumber}}
        {{#if property.advancedField}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{property.displayName}}</label>
                <div class="col-sm-9">
                    {{input class="form-control admin-discourage" value=property.value type="number"}}
                </div>
            </div>
        {{else}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{property.displayName}}</label>
                <div class="col-sm-9">
                    {{input class="form-control" value=property.value type="number"}}
                </div>
            </div>            
        {{/if}}
    {{/if}}

    {{#if typeDate}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{property.displayName}}</label>
                <div class="col-sm-9">
                    {{input class="form-control admin-discourage" value=property.value type="text"}}
                </div>
            </div>
    {{/if}}

    {{#if typeEnum}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{property.displayName}}</label>
                <div class="col-sm-9">
                    {{view "select" content=property.enum value=property.value optionValuePath="content.propertyName" optionLabelPath="content.displayName" class="form-control"}}
                </div>
            </div>    
    {{/if}}

    {{#if typeBoolean}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{property.displayName}}</label>
                <div class="col-sm-9">
                    {{view "select" content=booleanValues value=property.value optionValuePath="content.propertyName" optionLabelPath="content.displayName" class="form-control"}}
                </div>
            </div>  
    {{/if}}
{{/if}}

