<form class="form-horizontal">
    <p class="bg-primary col-sm-offset-2 col-sm-9">Content sorted with <strong>{{sort}}</strong> by <strong>{{sortType}}</strong></p>
    <div class="form-group">
        <label for="sort" class="col-sm-2 control-label">Sort By</label>
        <div class="col-sm-9">
            {{select-menu id='sort' action=(action (mut sort)) content=metadata.properties selection=sort optionValuePath="propertyName" optionLabelPath="displayName" inputClass="form-control" prompt="Select a Property To Sort"}}
        </div>
    </div>
    <div class="form-group">
        <label for="sort-type" class="col-sm-2 control-label">Sort Type</label>
        <div class="col-sm-9">
            {{select-menu id="sort-type" action=(action (mut sortType)) content=metadata.sortTypes selection=sortType optionValuePath="propertyName" optionLabelPath="displayName" inputClass="form-control" prompt="Sort Type"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Columns</label>
        <div class="col-sm-9">
            {{#each metadata.properties as |property|}}
            <div class="checkbox-inline">
                <label>
                    {{input checked=property.display class="option" type="checkbox"}}
                    {{property.displayName}}
                </label>
            </div>
            {{/each}}
        </div>
    </div>
</form>

<h1 class="col-sm-offset-2 admin-control-header">Filter</h1>

{{filter-box filters=filters properties=metadata.properties}}

<h1 class="col-sm-offset-2 admin-control-header">Management</h1>
<button class="btn btn-light col-sm-offset-2" {{action 'goToNew'}}>
    <i class="fa fa-plus"></i>
    Add {{modelName}}
</button>