<table class="table table-bordered table-striped table-hover admin-table">
    <tbody>
        <tr>
            <th>Edit</th>
            <th>Delete</th>
            {{#each metadata.properties as |property|}}
            <th class={{if property.display 'admin-show' 'admin-hide'}}>{{property.displayName}}</th>
            {{/each}}
        </tr>
        {{#each data as |item|}}
        <tr>
            <td><button class="flat-icon-button" {{action 'edit' item.id}}><i class="fa fa-pencil-square-o admin-delete-icon"></i></button></td>
            <td><button class="flat-icon-button" {{action 'delete' item.id}}><i class="fa fa-trash-o admin-delete-icon"></i></button></td>
            {{#each metadata.properties as |property|}}
            <td class={{if property.display 'admin-show' 'admin-hide'}}>{{dynamic-property-control item=item property=property}}</td>
            {{/each}}                      
        </tr>
        {{/each}}
    </tbody>
</table>
{{pagination-control totalPages=metadata.totalPages currentPage=page}}