<div class="filter-box">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Property</label>
            <div class="col-sm-9">
                {{select-menu action=(action (mut filterProperty)) selection=filterProperty content=objectProperties optionValuePath="propertyName" optionLabelPath="displayName" inputClass="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-9">
                {{select-menu action=(action (mut filterType)) selection=filterType content=filterTypes inputClass="form-control" optionValuePath="propertyName" optionLabelPath="displayName"}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Value</label>
            <div class="col-sm-9">
                {{input class="form-control" type="text" placeholder="Filter Value" value=filterValue}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-light" {{action 'add'}}>Add</button>
                <button type="submit" class="btn btn-light btn-light-warning" {{action 'reset'}}>Reset</button>
            </div>
        </div>
    </form>
    <div class="col-sm-offset-2 col-sm-9">
        {{#each filters as |filter|}}
            <h4 class="filter-text">{{filter.filterProperty}} <strong>{{filter.filterType}}</strong> {{filter.filterValue}} <button class="filter-remove" {{action 'remove' filter}}><i class="glyphicon glyphicon-trash"></i></button></h4>
        {{/each}}
    </div>    
</div>
