{{!--<p class="item-option-name">{{itemOption.name}}</p>--}}
{{input type="text" class="no-box-textbox item-option-name" value=itemOption.name placeholder="Item Option Name"}}
{{#if standardOption}}
  {{input type="text" class="form-control" value=itemOption.options placeholder="Comma Separated List"}}
  <div class="form-group">
    <p>Default</p>
    {{select-menu class="form-control" action=(action (mut itemOption.default)) content=booleanValues selection=itemOption.default optionValuePath="propertyName" optionLabelPath="displayName" prompt="Select a Value"}}
  </div>
{{else}}
  <button {{action 'addOption'}} class="btn-default">Add Option</button>
  <button {{action 'deleteItemOption'}}>Delete This Item Option</button>
  {{#each itemOption.options as |option|}}
    {{menu-option option=option deleteOption="deleteOption"}}
  {{/each}}
{{/if}}
