<nav id="nav-menu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <div class="nav-menu-content">
        <button class="btn btn-default btn-lg btn-block btn-sidemenu" {{action 'toggle'}}>CLOSE</button>
        {{#if isAuthenticated}}
            {{#unless hideProfile}}
                <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu" {{action 'profile'}}>PROFILE</button>
            {{/unless}}
            <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu" {{action 'logout'}}>LOGOUT</button>
        {{else}}
            <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu" {{action 'login'}}>LOGIN</button>
        {{/if}}
        <h2 class="cart-header">CART</h2>
        <ul class="cart-list">
            {{#each cart as |item|}}
                {{sidebar-item item=item removeItem="removeItem" decreaseQuantity="decreaseQuantity" increaseQuantity="increaseQuantity" cart=true}}
            {{/each}}
        </ul>
        <h4 class="total-text">TAX <span class="price-light">{{format-currency totalTax}}</span></h4>
        <h4 class="total-text">TOTAL <span class="price-light">{{format-currency totalPrice}}</span></h4>
        {{#if cart}}
            <button class="btn btn-default btn-lg btn-block btn-sidemenu btn-checkout" {{action 'checkout'}}>CHECKOUT</button>  
        {{/if}}
    </div>
</nav>